/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #d400ff;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #aa1fbd;
    font-size: 1.2em;
}

a {
    color: #e462e9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

/* Añadir estilos para la sección de habilidades */
#habilidades {
    text-align: center;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.skills-list li {
    text-align: center;
}

.skills-list img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    margin-bottom: 10px;
}

.skills-list p {
    margin: 0;
    font-weight: bold;
}

/* Estilos para la sección de proyectos */
#proyectos {
    text-align: center;
    margin: 40px 0;
}

.project {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project h3 {
    color: #ae00ff;
}

.project p {
    margin: 10px 0;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #cc00ffe0;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de contacto */
#contacto {
    text-align: center;
    margin: 40px 0;
}

#contacto ul {
    list-style: none;
    padding: 0;
}

#contacto li {
    margin-bottom: 20px;
}

#contacto a {
    color: #d400ff;
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

